.table-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #0984e3;
  color: white;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
